.boxes {
    background-color: lavenderblush;
    position: relative;
    width: 680px;
    height: 335px;
    z-index: -10;
    left: 550px;

    
}
.box {
    width: 200px;
    height: 200px;
    border-radius: 150px;
}
.box-one {
    border: 10px solid red;
    position: absolute;
    left: 460px;
    z-index: -2;
    

}
.box-two {
    border: 10px solid blue;
    position: absolute;
    z-index: +1;
}
.box-three {
    border: 10px solid black;
    position: absolute;
    left: 230px;
}
.box-four {
    border: 10px solid yellow;
    position: absolute;
    left: 115px;
    top: 115px;
}
.box-five {
    border: 10px solid green;
    position: absolute;
    z-index: -1;
    left: 345px;
    top: 115px;
}
