.boxes {
    background-color: lavenderblush;
    position: relative;
    width: 350px;
    height: 170px;
    z-index: -10;

    
}
.box {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 100px;
}
.box-one {
    border: 5px solid red;
    position: absolute;
    left: 240px;
    z-index: -2;
    

}
.box-two {
    border: 5px solid blue;
    position: absolute;
    z-index: +1;
}
.box-three {
    border: 5px solid black;
    position: absolute;
    left: 120px;
}
.box-four {
    border: 5px solid yellow;
    position: absolute;
    left: 60px;
    top: 60px;
}
.box-five {
    border: 5px solid green;
    position: absolute;
    z-index: -1;
    left: 180px;
    top: 60px;
}
